<footer>
    <div class="footer">
        <div class="row">
            <a href="https://www.youtube.com/@HarryJMG"><i class="fa fa-youtube"></i></a>
            <a href="https://www.instagram.com/harryjmg"><i class="fa fa-instagram"></i></a>
            <a href="https://x.com/harry_jmg"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
            <ul>
                <li>✉️ : support@joincodingnow.com</li>
            </ul>
        </div>

        <div class="row">
            JMG HARRY EURL, Société immatriculée en France depuis 2018.
        </div>
    </div>
</footer>