
<ol class="timeline">
	<li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon">
			1
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
				<span style="color: #3d3d3d; font-weight: 500; text-decoration: none;">
                    Se construire des fondations solides en code
                </span>
			</div>
			
			
		</div>
	</li>
    <li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon">
			2
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
                <span style="color: #3d3d3d; font-weight: 500; text-decoration: none;">
                    Se spécialiser sur un petit ensemble de technologies
                </span>
			</div>
			
			
		</div>
	</li><li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon">
			3
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
                <span style="color: #3d3d3d; font-weight: 500; text-decoration: none;">
                    Facturer des clients 400€ / jour en freelance
                </span>
			</div>
			
			
		</div>
	</li><li class="timeline-item | extra-space">
		<span class="timeline-item-icon | faded-icon">
			4
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
                <span>
                    Gagner plus de 2000€ / mois avec ses propres SaaS
                </span>
            </span>
        </div>
        <span class="badge">
            Ajout en cours au programme
        </span>
			
			
		</div>
	</li><li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon | celebration-icon">
            5
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
                <span style="color: #3d3d3d; font-weight: 500; text-decoration: none;">
                    Félicitations 🎉
                </span>
            </div>
			
		</div>
	</li></ol>