
<ol class="timeline">
	<li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
				<path fill="none" d="M0 0h24v24H0z"></path>
				<path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8z"></path>
			</svg>
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
				
				<span><a href="#">Étape 1 : Se construire des bases solides en code</a><time datetime="2021-03-01"></time></span>
			</div>
			
			
		</div>
	</li>
    <li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
				<path fill="none" d="M0 0h24v24H0z"></path>
				<path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8z"></path>
			</svg>
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
				
				<span><a href="#">Étape 2 : Se spécialiser sur une stack</a><time datetime="2021-03-01"></time></span>
			</div>
			
			
		</div>
	</li><li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
				<path fill="none" d="M0 0h24v24H0z"></path>
				<path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8z"></path>
			</svg>
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
				
				<span><a href="#">Étape 3 : Réussir à gagner 400€ / jour et quitter la précarité</a><time datetime="2021-03-01"></time></span>
			</div>
			
			
		</div>
	</li><li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
				<path fill="none" d="M0 0h24v24H0z"></path>
				<path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8z"></path>
			</svg>
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
				<span>
                    <a href="#">Étape 4 : Réussir à vivre de ses propres projets</a>
                    <time datetime="2021-03-01"></time>
                </span>
            </span>
        </div>
        <span class="badge">(arrive bientôt dans le programme)
			
			
		</div>
	</li><li class="timeline-item | extra-space">
		<span class="timeline-item-icon | filled-icon" style="background:linear-gradient(to right, #BF953F, #dcd47c, #B38728);">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8z"></path>
            </svg>
		</span>
		<div class="timeline-item-wrapper">
			<div class="timeline-item-description">
				
                <span><a href="#">Étape 5 : Effectuer la danse de la joie</a><time datetime="2021-03-01"></time></span>
            </div>
			
		</div>
	</li></ol>